*{
    margin: 0;
    padding: 0;
}

header{
    height: 8vh;
    background-color: black;
    
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
}


a{
    color: white;
    text-decoration: none;

}

main{
    height: 80vh;
    padding-left: 18px;
    padding-right: 18px;
}

section{
    display: flex;
    /* align-items: center; */
    
    padding-top: 10vh;
    gap: 5vw;
    
    justify-content: space-between;
    
}


div{
    
    border-radius: 4px;

}

img{
    
    width: 380px;
    height: 270px;

    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}






footer{
    display: flex;
    height: 10.9vh;
    background-color: black;
}